.idea/
.vscode/
__pycache__/
*.so

DiffAD.egg-info/
build/
dist/
*.spec
version_info/
.DS_Store

DiffAD/ops/bevformer/build/
DiffAD/ops/bevformer/dist/
DiffAD/ops/bevformer/*.egg-info/

venv/
b2d_data/
checkpoints/
logs/
wandb/